<configuration>
  <packageSources>
    <clear />
    <add key="nuget.org" value="https://api.nuget.org/v3/index.json" protocolVersion="3" />
    <!--add key="artifactory" value="https://artifactory.amer.gettywan.com/artifactory/api/nuget/netcoresandbox" /-->
    <add key="xrepo-source" value="./private-packages/" />
  </packageSources>
</configuration>