name: Publish

on:
  release:
    types: [ published ]

jobs:
  publish:
    if: github.repository == 'andyalm/xrepo'
    runs-on: ubuntu-latest

    env:
      Configuration: Release
      PackageReleaseNotes: ${{ github.event.release.body }}
      PackageReleaseTag: ${{ github.event.release.tag_name }}

    steps:
      - uses: actions/checkout@v4

      - name: Setup .NET
        uses: actions/setup-dotnet@v4
        with:
          dotnet-version: 10.0.x

      - name: Build
        run: dotnet build

      - name: Test
        run: dotnet test

      - name: Publish xrepo to nuget.org
        run: dotnet nuget push $(ls src/CommandLine/bin/${{ env.Configuration }}/*.nupkg) -k ${{ secrets.NUGET_FEED_KEY }} -s https://api.nuget.org/v3/index.json

    environment:
      name: nuget.org
      url: https://nuget.org/packages/xrepo
